@import url('./style/Components.css');

.App {
  text-align: center;
  /* background-color: black; */
  /* color: white; */
}


.homeBox{
  text-align: center;
  margin: 0 auto;
  /* border: 3px solid purple;  */
}

.newsBox{
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  padding-left: 10px;
  /* border: 4px solid blue; */
  width: 75%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mr-auto {
  margin-left: 525px;
  font-size: 1.5em;
}

.App-link {
  color: #61dafb;
}
/* ////////////////////////////  LIBRARY //////////////////////////// */
.libraryBox {
  margin: 0 auto;
  height: 100vh;
}

.libraryBox h1 {
  font-family: 'Cute Font';
  font-size: 5em;
}

.media{
  margin: 0 auto;
  display: inline;
  padding: 10px;
}

.languages {
  padding: 10px;
}
/* //////////////////////////// FOOTER //////////////////////////////// */
.footer{
  text-align: center; 
  height: 4em; 
  background-color: grey;
  color: white
}

.footerH3{
  text-align: center;
vertical-align: middle;
line-height: 2em; 
} 

a {
  text-decoration: none;
  color: inherit;
}


.pieChart{
  text-align: center;
  margin: 0 auto;
}

/* ======= */
.brand {
  font-family: 'Cute Font';
  font-size: 4em;
  margin-left: 100px;
}

.banner {
  font-size: 10em;
  font-weight: bold;
  font-family: 'Cute Font';
  color: white;
  background-color: black;
}

/* //////////////////////// VIDEO ////////////////////////////// */
.jumbotron {
  position: relative;
  z-index: -2;
  height: 62.5vh;
  background-color: white;
  /* padding: 0px !important; */
}

.video-background {
  /* border: 4px solid yellow; */
  position: relative;
  overflow: hidden;
  z-index: -1;
  width: 100%;
  height: 100%;
}


/* //////////////////// Cards //////////////////////////////////// */

/* .cardBody{
  max-width: 50%;
  max-height: 50%;
}  */

/* .card{
  float: none; /* Added */


.cardBox{
  margin: 0 auto;
  text-align: center;
}

.imageBox{
  text-align: center;
  /* height: 90%; */
  margin: 0 auto;
}

/* ////////////////////////////// HEADER HOME JSX ////////////////////////////// */
.headerTopStories{
  font-family: 'Cute Font';
  /* border: 3px solid green; */
  width: 70%;
  height: 70%;
  text-align: center;
  margin: 0 auto;
}

.headerTopStory{
  font-family: 'Cute Font';
  font-size: 5em;
  background-color:white;
  color: black;
}

/* ////////////////////////////// USERPROFILE /////////////////////////////////  */
.userProfileInternalBox{
  /* border: 4px solid red;  */
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%
}

/* //////////////////////////////// UPDATE PROFILE ///////////////////////////////// */

.UpdateProfile {
  height: 100%;
  position: static;
}

.UpdateProfile small {
  display: block;
  padding: 5px 0;
  width: 60%;
  margin: 0 auto;
}

.UpdateProfile .cloudinary {
  width: 100%;
  max-width: 425px;
  position: absolute;
  z-index: 10;
  opacity: 1;
  transition: all 250ms ease-in-out;
}

.UpdateProfile .cloudinary.hidden {
  display: none;
  opacity: 0;
}

.UpdateProfile h2 {
  margin: 0;
  padding: 15px 0;
}

.UpdateProfile form button,
#upload-photo .btn {
  width: 75%;
  border: 1px solid black;
  margin: 0 auto;
  height: 30px;
  background-color: #dddddd;
  border-radius: 5px;
}

#upload-photo {
  /* background-color: #008457; */
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  transition: all 250ms ease-in-out;
}

#upload-photo input {
  width: 80%;
  padding: 0;
  background-color: #ffffff33;
  border-radius: 5px;
}

.userProfileInternalBox .profilePic {
  margin: 0 auto;
  position: relative; 
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userProfileInternalBox .profilePic .img {
  position: absolute;
}

.removeBtn{
  /* border: 3px solid purple; */
  margin: 0 auto;
  width: 20%;
  height: 50%;
}

.userProfileHeader{
  font-family: 'Cute Font';
  font-size: 5em;
}
/* //////////////////////////////// SCHOOL ////////////////////////////////  */
.devSchoolBox{
  margin: 0 auto;
  width: 50%;
  height: 50%;
  /* border: 4px solid green; */
}

.schoolHeader{
  font-family: 'Cute Font';
  font-size: 5em;
}

/* /////////////////////////////////// TRENDING /////////////////////// */

.trendingBox{
  /* border: 4px solid red;  */
  margin: 0 auto;
  text-align: center;
}

.graphBox{
  width: 80%;
  height: 80%;
  /* border: 4px solid teal; */
  margin: 0 auto;
}

.hiringHeader{
  font-family: 'Cute Font';
  font-size: 5em;
}

/* //////////////////////// LOGBOX //////////////////////////////////// */
.logBox{
  width: 100%;
  height: 100%;
  border: 3px dashed red;
  margin: 0 auto;
}
.logboxLoginDiv{
  margin: 0 auto;
  border: 4px solid orange;
}
.signloginBtn{
  width: 50%;
  height: 100%;
  border: 3px solid palegreen;
}

.headerLogin{
  font-family: 'Cute Font';
  font-size: 2em;
}


.loginCard{
  background-color: rgba(245, 245, 245, .5);
}

.Signup{
  font-family: 'Cute Font';
  font-size: 2em;
  width: 100%;
  height: 100%;
}

.headerSignUp{
  font-family: 'Cute Font';
  font-size: 2em;
}

/* /* /////////////////////////////// Login //////////////////////////////  */
.Login{
  font-family: 'Cute Font';
  font-size: 2em;
  width: 100%;
  height: 100vh;
  /* background-image: url("https://images.unsplash.com/photo-1469366379702-59bb9f45c11e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80"); */
  background-size: cover;
  background-position: center;
  border: 3px solid green;
}

.logoImageBox{
  border: 4px solid purple;
  width: 100%;
  height: 100vh;
}